<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/home"> <img alt="image" src="/img/logo.png" class="header-logo" style="background: white" /></a>
        </div>
        <ul class="sidebar-menu">
            <li class="dropdown text-center">
                <span style="padding-left: 10px; font-size: large; color: white;">cryptedge</span>
            </li>
           
                <li class="dropdown text-center">
                    <span style="padding-left: 10px; font-size: large; color: white;">Welcome Super Admin</span>
                </li>
                
                
               
                <li class="dropdown text-center">
                    <span style="padding-left: 10px; font-size: large; color: white;">Welcome User</span>
                </li>
                
            <li class="dropdown">
                <a href="/home" class="nav-link"><i data-feather="home"></i><span>Dashboard</span></a>
            </li>
            
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i fas fa-piggy-bank
                        class="fa fa-users"></i><span>Users</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/users">Active</a></li>
                    <li><a class="nav-link" href="/deleted/users">Deleted</a></li>
                </ul>
            </li>
            
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown">
                    <i class="fas fa-piggy-bank"></i>
                    <span>Deposits</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/bank-unapproved">Unapproved</a></li>
                    <li><a class="nav-link" href="/bank-approved">Approved</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        class="fa fa-university"></i><span>Withdrawals</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/unapproved-withdrawal">Unapproved (Manual)</a></li>
                    <li><a class="nav-link" href="/approved-withdrawal">Approved</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="gift"></i><span>Packages</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/add/package">Add</a></li>
                    <li><a class="nav-link" href="/view/packages">View</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fas fa-user-cog"></i><span>Settings</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/password">Password</a></li>
                    <li><a class="nav-link" href="/bankdetails">Bank Details</a></li>
                    
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="nav-link" onclick="event.preventDefault();
								document.getElementById('logout-menu').submit();">
									<i class="fas fa-sign-out-alt"></i><span>Logout</span>
								</a>
								<form id="logout-menu" action="/logout" method="POST" style="display: none;">
								</form>
            </li>
            
        </ul>
    </aside>
</div>