<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <form action=">" method="POST"
                        class="needs-validation" novalidate="">
                        <div class="card">
                            <div class="card-header">
                                <h4>Add/Edit/Delete</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Package Name</label>
                                    <input id="name" type="text" class="form-control" name="name" tabindex="1"
                                        value="" required autofocus>
                                    <div class="invalid-feedback">
                                        Please fill in package name
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name">Package Description</label>
                                    <input id="description" type="text" class="form-control" name="description" tabindex="1"
                                        value="decription" required autofocus>
                                    <div class="invalid-feedback">
                                        Please fill in package description
                                    </div>
                                </div>
                                
                                    <input type="hidden" name="id" value="">
                            
                                
                                <div class="form-group">
                                    <label for="interest">Interest</label>
                                    <input id="interest" type="text" class="form-control" name="interest" tabindex="1"
                                        value="" required autofocus>
                                    <div class="invalid-feedback">
                                        Please enter package interest
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="duration">Duration(Days)</label>
                                    <input id="duration" type="text" class="form-control" name="duration" tabindex="1"
                                        value="" required autofocus>
                                    <div class="invalid-feedback">
                                        Please enter package duration
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button class="btn btn-primary mr-1"
                                    type="submit">Edit/Add/Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer") %>