<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
   
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Active Users</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Role</th>
                                            <th>Wallet</th>
                                            <th>Date Registered</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>1</td>
                                            <td>Jones</td>
                                            <td>jones@gmail.com</td>
                                            <td>0812345678</td>
                                            <td>User</td>
                                            <td>$2345.00</td>
                                            <td>3/12/2019</td>
                                            <td>
                                                <a href="/chats"
                                                    class="btn btn-primary btn-pill">Chat</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/user" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Jones</td>
                                            <td>jones@gmail.com</td>
                                            <td>0812345678</td>
                                            <td>User</td>
                                            <td>$2345.00</td>
                                            <td>3/12/2019</td>
                                            <td>
                                                <a href="/chats"
                                                    class="btn btn-primary btn-pill">Chat</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/user" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                      
                                        <tr>
                                            <td>2</td>
                                            <td>Janess</td>
                                            <td>jones@gmail.com</td>
                                            <td>0812345678</td>
                                            <td>Admin</td>
                                            <td>$2345.00</td>
                                            <td>3/12/2019</td>
                                            <td>
                                                <a href="/chats"
                                                    class="btn btn-primary btn-pill">Chat</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/user" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                      
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer") %>