<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
   
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Approved Bank Deposits</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>1</td>
                                            <td><img alt="image" src="#" width="35"></td>
                                            <td>Ayo</td>
                                            <td>ayo@gmail.com</td>
                                            <td>$309.00</td>
                                            <td>23/2/2021</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-warning btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('disapprove-deposit').submit();" style="color: aliceblue;">
                                                    Dis-Approve
                                                </a>
                                                <form id="disapprove-deposit" action="/disapprove-deposit" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="678644783463473">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><img alt="image" src="#" width="35"></td>
                                            <td>Ayo</td>
                                            <td>ayo@gmail.com</td>
                                            <td>$309.00</td>
                                            <td>23/2/2021</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-warning btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('disapprove-deposit').submit();" style="color: aliceblue;">
                                                    Dis-Approve
                                                </a>
                                                <form id="disapprove-deposit" action="/disapprove-deposit" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="678644783463473">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><img alt="image" src="#" width="35"></td>
                                            <td>Ayo</td>
                                            <td>ayo@gmail.com</td>
                                            <td>$309.00</td>
                                            <td>23/2/2021</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-warning btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('disapprove-deposit').submit();" style="color: aliceblue;">
                                                    Dis-Approve
                                                </a>
                                                <form id="disapprove-deposit" action="/disapprove-deposit" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="678644783463473">
                                                </form>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer") %>