<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Deleted Users</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Role</th>
                                            <td>Wallet</td>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr>
                                            <td>1</td>
                                            <td>Dasol</td>
                                            <td>dasol@gmail.com</td>
                                            <td>091237683944</td>
                                            <td>Manager</td>
                                            <td>$29394</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('restore-menu').submit();" style="color: aliceblue;">
                                                    Restore
                                                </a>
                                                <form id="restore-menu" action="/restore/user" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Dasol</td>
                                            <td>dasol@gmail.com</td>
                                            <td>091237683944</td>
                                            <td>Manager</td>
                                            <td>$29394</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('restore-menu').submit();" style="color: aliceblue;">
                                                    Restore
                                                </a>
                                                <form id="restore-menu" action="/restore/user" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Dasol</td>
                                            <td>dasol@gmail.com</td>
                                            <td>091237683944</td>
                                            <td>Manager</td>
                                            <td>$29394</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('restore-menu').submit();" style="color: aliceblue;">
                                                    Restore
                                                </a>
                                                <form id="restore-menu" action="/restore/user" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer") %>