<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
  
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Packages</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            
                                          
                                            <th>Interest</th>
                                            <th>Duration</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        <tr>
                                            <td>1</td>
                                            <td>Starter</td>
                                            
                                       
                                            <td>3.5%</td>
                                            <td>1 Year</td>
                                            <td>
                                                <a href="#"
                                                    class="btn btn-primary btn-pill">Edit</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/package" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Gold</td>
                                            
                                       
                                            <td>6.5%</td>
                                            <td>1 Year</td>
                                            <td>
                                                <a href="#"
                                                    class="btn btn-primary btn-pill">Edit</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/package" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Bronze</td>
                                            
                                       
                                            <td>9.5%</td>
                                            <td>2 Years</td>
                                            <td>
                                                <a href="#"
                                                    class="btn btn-primary btn-pill">Edit</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/package" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer") %>