<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
  
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Unapproved Withdrawals</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Amount</th>
                                            <th>Bank</th>
                                            <th>RecipientId</th>
                                            <th>Account Name</th>
                                            <th>Account Number</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr>
                                            <td>1</td>
                                            <td>Hughes</td>
                                            <td>hughes@gmail.com</td>
                                            <td>$345.00</td>
                                            <td>First Bank</td>
                                            <td>1253retetg7</td>
                                            <td>Mark Hughes</td>
                                            <td>23093636891</td>
                                            <td>3/2/2021</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-warning btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('approve-withdrawal').submit();" style="color: aliceblue;">
                                                    Approve
                                                </a>
                                                <form id="approve-withdrawal" action="/approve-withdrawal" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Mark</td>
                                            <td>mark@yahoo.com</td>
                                            <td>$345.00</td>
                                            <td>WEMA</td>
                                            <td>1253retetg7</td>
                                            <td>Mark Hughes</td>
                                            <td>23093636891</td>
                                            <td>3/2/2021</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-warning btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('approve-withdrawal').submit();" style="color: aliceblue;">
                                                    Approve
                                                </a>
                                                <form id="approve-withdrawal" action="/approve-withdrawal" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="">
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer") %>